---
import { Container } from "../components/global";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Container>
    <h1 class="text-3xl font-bold mb-4">Hello world</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nihil
      inventore ipsam, est omnis enim voluptate consequatur laborum fuga!
      Consectetur totam quas cupiditate ipsam illum, magnam quo neque sed a! Eos
      similique non sint accusamus adipisci iusto, quam inventore ducimus
      recusandae dignissimos asperiores nisi, tenetur explicabo deserunt facere
      ullam esse? Quia dignissimos temporibus similique voluptate, fuga ratione
      tenetur quae consequuntur repellat distinctio harum velit porro earum sed
      maxime quaerat sapiente vitae eius eum recusandae eos autem sequi dicta
      nam. Ipsam, ipsum maxime nostrum facilis totam eius possimus ut vitae. Eum
      ut earum odio consequatur numquam aperiam necessitatibus exercitationem
      mollitia. Neque.
    </p>
  </Container>
</Layout>
